<br />
<div id="chart" style="width:700px;height:600px;"></div>
<script src="js/flotr2.min.js"></script>

<% javascript_tag do %>

  window.onload = function () {

  var weekdays = [
    [0, "sunday"],
    [1, "monday"],
    [2, "tuesday"],
    [3, "wednesday"],
    [4, "thursday"],
    [5, "friday"],
    [6, "saturday"],
    [7, "holiday"],
  ];

  var hours = [
    <% if "duration" == @status %>
      <% @data.each do |datum| %>
       [<% if datum.begin.holiday? %>
          7,
        <% else %>
          <%= Time.parse(datum.begin).wday %>,
        <% end %>
        <%= number_with_precision(
                        datum.duration_in_minutes / 60,
                        precision: 2) %>],
      <% end %>
    <% else %>
      <% @raw.each do |raw| %>
        [<% if raw.status.chomp == @status %>
          <% if raw.timestamp.holiday? %>
            7,
          <% else %>
            <%= Time.parse(raw.timestamp).wday %>,
          <% end %>
          <%= raw.timestamp[11,2].to_i + (raw.timestamp[14,2].to_i / 60.0) %>
          <% end %>],
      <% end %>
    <% end %>
  ];

  var sieben = [
    [-0.5,7.0],
    [8.5, 7.0],
  ]

  var acht = [
    [-0.5,8.0],
    [8.5, 8.0],
  ]

  Flotr.draw(
      document.getElementById("chart")
      ,[
          { data: hours,  label: "<%= @status %>", points: {show:true} },
          { data: sieben, label: "7:00", lines: {show:true, lineWidth: 1}, shadowSize: 0, color: "#545454" },
          { data: acht, label: "8:00", lines: {show:true, lineWidth: 1.5}, shadowSize: 0, color: "#88DD00" },

      ]
      ,{
          title: "weekday",
          // subtitle: "(by Country, 2010 OECD data)",
          xaxis: { min: -0.5, max: 7.5, tickDecimals: 0, ticks: weekdays },
          yaxis: {min: 0.5, max: 24, tickDecimals: 0, title: "hour"},
          legend: {position: "ne"},
      }
  );

  };

<% end %>
