<%= stylesheet_link_tag "raw_data_new" %>

<!-- <h1>New raw_datum</h1> -->

<div id="inhalt" class="clearfix">
  <div id="schlaf">
    <%= render 'form' %>

    <hr /><br />
    Latest entries: <br/><br/>
    <table>
        <tr>
          <th> Status </th>
          <th> Zeitstempel </th>
        </tr>
        <tr>
          <td><%= @raw_data[0].status %>    </td>
          <td><%= @raw_data[0].timestamp %> </td>
        </tr>
        <tr>
          <td><%= @raw_data[1].status %>    </td>
          <td><%= @raw_data[1].timestamp %> </td>
        </tr>
        <tr>
          <td><%= @raw_data[2].status %>    </td>
          <td><%= @raw_data[2].timestamp %> </td>
        </tr>
    </table>
  </div>
</div>
<br />
<%= link_to 'Back', raw_data_path %>

<br />
